.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 250px; /* Sidebar'ın genişliğini ayarlayın */
    transition: margin-left 0.3s;
  }
  
  .main-content.expanded {
    margin-left: 80px; /* Sidebar daraldığında margin değişecek */
  }
  
  /* Başlık ve Alt Başlık */
  h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .header-subtitle {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Table Styling */
  .ant-table-thead {
    background-color: #ff416c;
    color: white;
    font-weight: bold;
  }
  
  .ant-table-tbody > tr > td {
    background-color: white;
    color: #333;
    padding: 16px;
    text-align: center;
  }
  
  .ant-table-tbody > tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .ant-table-tbody > tr:hover {
    background-color: #f0f0f0;
  }
  
  /* Butonlar */
  .ant-btn {
    font-size: 14px;
    padding: 6px 12px;
    border-radius: 4px;
  }
  
  .ant-btn-primary {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }
  
  .ant-btn-primary:hover {
    background-color: #45a049;
  }
  
  .ant-btn-danger {
    background-color: #f44336;
    border-color: #f44336;
  }
  
  .ant-btn-danger:hover {
    background-color: #d32f2f;
  }
  
  /* Logo Görünümü */
  .ant-table-tbody img {
    border-radius: 8px;
  }